= simple_form_for(@team) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :slogan
    = f.input :phone
    = f.input :description
    - if can? :manage, @team
      = f.input :paid
    = f.hidden_field :logo_cache
    = f.file_field :logo
  .form-actions
    = f.button :submit
