= simple_form_for(@team) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :slogan
    = f.input :description
    = f.hidden_field(:logo_cache)
    = f.file_field(:logo)
  .form-actions
    = f.button :submit
