= simple_form_for(@team, html: {:class => 'form-horizontal'}) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :slogan
    = f.input :phone
    = f.input :description, :input_html => { :cols => 80, :rows => 5 }
    - if can? :manage, @team
      = f.input :paid
    = f.hidden_field :logo_cache
    = f.file_field :logo
  .form-actions
    = f.button :submit
