- javascript 'stupidtable.js'
%h1 Listing Teams
%table#teams.table
  %thead
    %tr.header
      %th
      %th{'data-sort' => 'string'} Name
      %th{'data-sort' => 'int'} # Players
      %th Slogan
      - if can? :manage, Team
        %th{'data-sort' => 'string'} Playing?
        %th{'data-sort' => 'int'} # Checkins
        %th{'data-sort' => 'string'} Cur. Puzzle
        %th{'data-sort' => 'string'} Last Loc.
  %tbody
    - @teams.each do |team|
      %tr
        %td= image_tag team.logo_url(:index), size: '24x24'
        %td= link_to team.name, team
        %td= team.players.count
        %td= team.slogan
        - if can? :manage, Team
          %td
            - if team.playing?
              &#x2713; Yes
            - else
              %span{title: team.reasons_not_playing.join(' | ')} &times; No
          %td= team.checkins.count
          - if team.current_puzzle
            %td= link_to team.current_puzzle_name, team.current_puzzle
          - else
            %td n/a
          %td
            - if team.location
              = link_to team.location_name, team.location
            - else
              Unknown

%br/
- if can? :create, Team
  = link_to 'New Team', new_team_path

:javascript
  $("#teams").stupidtable();
