- javascript 'stupidtable.js'
%h1 Listing Teams
%table#teams.table
  %thead
    %tr.header
      %th{'data-sort' => 'string'} Name
      %th{'data-sort' => 'int'} # Players
      %th Slogan
      - if can? :manage, Team
        %th Paid?
  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.name, team
        %td= team.players.count
        %td= team.slogan
        - if can? :manage, Team
          %td= team.paid ? "Yes" : "No"
%br/
- if can? :create, Team
  = link_to 'New Team', new_team_path

:javascript
  $("#teams").stupidtable();
