%p
  - if @team.logo.present?
    = cl_image_tag @team.logo, width: 150, height: 150, crop: :fill
  - else
    = image_tag '/confusion.jpg', size: '150x155'
%p
  Name:
  = @team.name
- if can? :edit, @team
  %p
    Secret Token:
    = @team.token
%p
  Slogan:
  = @team.slogan
%p
  Description:
  = @team.description
%p
  Members:
  %br
  - @team.players.each do |player|
    %a{:href => "/players/#{player.id}"}
      = player.first_name
      = player.last_name
    %br
  = link_to 'Invite a player to this team', new_team_invitation_path

- if can? :edit, @team
  %p
    Pending Invitations:
    %br
    - @team.team_invitations.each do |invitation|
      = invitation.email
      = link_to 'Cancel', team_invitation_path(invitation.id), method: :delete, confirm: 'Are you sure you want to cancel this invitation?'
      %br

- if can? :edit, @team
  = link_to 'Leave This Team', join_attempts_path, :method => :delete, :confirm => 'Are you sure you want to leave this team?'
  = link_to 'Edit', edit_team_path(@team)
  |
= link_to 'Back', teams_path
