%p
  = cl_image_tag @team.logo, width: 150, height: 150, crop: :fill
%p
  Name:
  = @team.name
- if can? :edit, @team
  %p
    Secret Token:
    = @team.token
%p
  Slogan:
  = @team.slogan
%p
  Description:
  = @team.description
%p
  Members:
  - @team.users.each do |user|
    %a{:href => "/users/#{user.id}"}
      = user.first_name
      = user.last_name
    %br

%p#notice= notice
- if can? :edit, @team
  = link_to 'Leave This Team', destroy_join_attempt_path(@team), :method => :delete, :confirm => 'Are you sure you want to leave this team?'
  = link_to 'Edit', edit_team_path(@team)
  |
= link_to 'Back', teams_path
