- if can?(:edit, @team) && !@team.paid
  - flash[:notice] = %{Complete your team's regstration! Pay the entrance fee (see below).}

%h3
  Team
  = @team.name

- if signed_in? && current_player.team == @team
  %h4 You are a member of this team!
%p
  = image_tag @team.logo.url, width: '150x150'

- if can? :edit, @team
  %p
    Status:
    %b= @team.playing? ? "&#x2713; READY".html_safe : "&times; NOT READY".html_safe
    - unless @team.paid
      | Not Paid -
      = link_to 'How to pay entrance fee', page_path('payments')
    - unless @team.active
      | Not Active -
      = link_to 'contact Game Control', 'http://www.facebook.com/GetAClue2014'
  - unless @team.paid
    %p

  - if @team.location
    %p
      Location:
      Last checked into
      = link_to @team.location_name, @team.location
  - if can?(:edit, @team) && @team.current_puzzle
    %p
      Current Puzzle:
      - if can? :read, @team.current_puzzle
        = link_to @team.current_puzzle_name, @team.current_puzzle
      - else
        = @team.current_puzzle_name
%p
  Slogan:
  = @team.slogan

- if can?(:edit, @team)
  %p
    Contact Phone:
    = @team.phone

%p
  Description:
  = @team.description
%p
  Members:
  %br
  - @team.players.each do |player|
    = link_to player.name, player
    %br
  %br

- if can? :edit, @team
  %p
    Pending Invitations:
    %br
    - if @team.team_invitations.any?
      - @team.team_invitations.each do |invitation|
        = invitation.email
        = link_to 'Cancel', team_invitation_path(invitation.id), method: :delete, confirm: 'Are you sure you want to cancel this invitation?'
        %br
    - else
      %p{style: 'font-style: italic'} None
    - if can?(:edit, @team) && @team.name != 'Observers'
      = link_to new_team_invitation_path, class: 'btn' do
        %img{class: 'icon-white', src: asset_path('glyphicons/006_user_add.png')}
        Invite a player to this team
    %br

- unless @team.name == 'Observers'
  - if can? :edit, @team
    %p
      Secret Token:
      = @team.token

  - if can? :edit, @team
    = link_to edit_team_path(@team), class: 'btn' do
      %img{class: 'icon-white', src: asset_path('glyphicons/030_pencil.png')}
      Edit Team
    - if can? :manage, Penalty
      = link_to new_penalty_path(team_id: @team.id, puzzle_id: @team.current_puzzle_id), class: 'btn' do
        %img{class: 'icon-white', src: asset_path('glyphicons/055_stopwatch.png')}
        Assess Penalty
    - if current_player.team == @team
      = link_to join_attempts_path, :method => :delete, :confirm => 'Are you sure you want to leave this team?', class: 'btn' do
        %img{class: 'icon-white', src: asset_path('glyphicons/199_ban.png')}
        Leave This Team
