%h3
  Team
  = @team.name

- if current_player.team == @team
  %h4 You are a member of this team!
%p
  - if @team.logo.present?
    = cl_image_tag @team.logo, width: 150, height: 150, crop: :fill
  - else
    = image_tag '/confusion.jpg', size: '150x155'

- if can? :edit, @team
  %p
    Status:
    = @team.paid ? 'Paid' : 'Not Paid'
    - if @team.location
      | Last checked into
      = link_to @team.location_name, @team.location
%p
  Slogan:
  = @team.slogan
%p
  Contact Phone:
  = @team.phone
%p
  Description:
  = @team.description
%p
  Members:
  %br
  - @team.players.each do |player|
    = link_to player.name, player
    %br
  = link_to 'Invite a player to this team', new_team_invitation_path

- if can? :edit, @team
  %p
    Pending Invitations:
    %br
    - @team.team_invitations.each do |invitation|
      = invitation.email
      = link_to 'Cancel', team_invitation_path(invitation.id), method: :delete, confirm: 'Are you sure you want to cancel this invitation?'
      %br

- if can? :edit, @team
  %p
    Secret Token:
    = @team.token

- if can? :edit, @team
  = link_to edit_team_path(@team), class: 'btn' do
    %img{class: 'icon-white', src: asset_path('glyphicons/030_pencil.png')}
    Edit Team
  = link_to join_attempts_path, :method => :delete, :confirm => 'Are you sure you want to leave this team?', class: 'btn' do
    %img{class: 'icon-white', src: asset_path('glyphicons/199_ban.png')}
    Leave This Team
