!!!
%html
  %head
    = airbrake_javascript_notifier
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{'http-equiv' => 'refresh', content: '30'}
    %title= content_for?(:title) ? yield(:title) : "Get A Clue 2014"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Michroma", media: 'all'
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
    = javascript_include_tag 'gmaps4rails.js'
    = javascript_include_tag 'flipclock.js'
    = javascript_include_tag 'pregame_dashboard.js'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{ENV['GOOGLE_ANALYTICS_ID']}', 'gac2014.com');
      ga('send', 'pageview');
    :css
      html, body, #main { height: 100%; overflow: hidden}
      body { padding: 0 }

  %body
    %div#fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{ENV['FACEBOOK_APP_ID']}";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #main{:role => "main"}
      .container.gchq_dashboard
        .content
          .row-fluid
            .span3#leaderboard_dash
              = render partial: 'leaderboard'
            .span9
              .row-fluid#title_bar
                .span9.title
                  %h1
                    Get-A-Clue 2014
                    &nbsp;
                    = image_tag 'logo.png', size: '64x64'
                .span3#clock_dash
                  Game Clock
                  #game_clock
              .row-fluid#dash_contents
                .span9
                  .row-fluid#map_dash
                    .span12
                      = gmaps4rails map_data(@locations)
                  .row-fluid#radio_gac_dash
                    .span-12.block-wrapper
                      .block{style: 'width: 35%'}
                        %h3{style: 'text-align: left; padding-left: 23px; margin:0'}
                          %i.icon-music.icon-large.white
                          Radio GAC
                        #news_countdown
                      .block{style: 'width: 40%'}
                        Current Track:
                        %br
                        %span{style: 'font-size: 1.5em'}
                          = @radio_gac_stats[:track]
                      .block{style: 'width: 25%'}
                        Listeners:
                        %br
                        %span{style: 'font-size: 1.5em'}
                          = @radio_gac_stats[:listeners]
                  .row-fluid#bottom_row_dash
                    .span4#puzzle_stats_dash.statsbox
                      %h5 Puzzle Stats
                      %table.table
                        %tr
                          %td Total
                          %td= @puzzle_stats[:total]
                        %tr
                          %td Open
                          %td= @puzzle_stats[:open]
                        %tr
                          %td Completed
                          %td= @puzzle_stats[:complete]
                        %tr
                          %td Unopened
                          %td= @puzzle_stats[:unopened]
                    .span4#checkin_stats_dash.statsbox
                      %h5 Checkin Stats
                      %table.table
                        %tr
                          %td Total
                          %td= @checkin_stats[:total]
                        %tr
                          %td Avg. TTC
                          %td
                            = @checkin_stats[:avg_ttc] / 60
                            min.
                    .span4#penalty_stats_dash.statsbox
                      %h5 Penalty Stats
                      %table.table
                        %tr
                          %td Total
                          %td= @penalty_stats[:total]
                        %tr
                          %td Avg. Penalty
                          %td
                            = @penalty_stats[:average]
                            min.
                        %tr
                          %td Worst Team
                          %td
                            = @penalty_stats[:worst_team]
                            min.

                .span3#events_dash
                  %div.box
                    %div.box-header
                      %h4 Recent Events
                    %div.box_content.event_log.scrollable

          %footer
          = yield :scripts
    %br/
    %br/
    %br/
:javascript
  var game_clock = $('#game_clock').FlipClock({
    // ... your options here
  });
  start = new Date()
  if (start.getHours() < 8) { start.setDate(start.getDate() - 1) }
  start.setHours(8)
  start.setMinutes(0)
  start.setSeconds(0)
  game_clock.setTime(Math.round((Date.now() - start) / 1000))

  var news_clock = $('#news_countdown').FlipClock({
    // ... your options here
  });
  start = new Date()
  if (start.getMinutes() >= 5) {
    start.setHours(start.getHours() + 1)
  }
  start.setMinutes(5)
  start.setSeconds(0)
  news_clock.setTime(Math.round((start - Date.now()) / 1000))
  news_clock.setCountdown(true);
