- javascript 'jquery.jplayer.min.js'
- javascript 'flipclock.js'
.row
  .span12
    %h1
      Team
      = current_player.team_name
      Dashboard
%hr
.row
  .span8
    = render 'checkins/current_puzzle_info', locals: {puzzle: @puzzle, location_coordinates: @location_coordinates, next_location_coordinates: @next_location_coordinates}

    %hr

    %h3
      Need help?
    %h4
      Contact Game Control:
      %a{href: 'tel:+1-678-201-0878'} #{t :gc_help_phone}
      or 
      %a{href: 'mailto:get.a.clue.2015+cluehelp@gmail.com'} #{t :official_email}
    
    %hr

    %h4 Penalties:
    = render partial: 'penalties/list'

  .span4
    = render partial: 'leaderboard'

