- javascript 'stupidtable.js'
%h1 Listing messages
%table.table
  %thead
    %tr
      %th{'data-sort' => 'String'} Destination
      %th{'data-sort' => 'String'} Sender
      %th{'data-sort' => 'String'} Type
      %th{'data-sort' => 'String'} Status
      %th{'data-sort' => 'int'} Time
  %tbody
    - @messages.each do |message|
      %tr
        %td= link_to message.destination_object.name, message
        %td= link_to message.sender_name, message.sender
        %td= message.delivery_type
        %td= message.status
        %td{'data-sort-value' => message.updated_at.to_i}= link_to message.updated_at.localtime.strftime("%l:%M:%S %P"), message
%br/
= link_to 'New Message', new_message_path
