= simple_form_for(@game, :url => url_for(:action => 'update', :controller => 'game')) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :status, collection: Game.statuses.invert
    = f.input :hotline_open, hint: "Checked - Agents at GCHQ; Unchecked - calls sent to mobile"
  .form-actions
    = f.button :submit
