%h1 Location Cluster
%p
  %b Name:
  = @cluster.name
%p
  %b Sequence:
  = @cluster.sequence
%p
  %b Color:
  = image_tag "map_markers/#{@cluster.color}_Marker.png"
= link_to 'Edit', edit_cluster_path(@cluster)
|
= link_to 'Delete', @cluster, method: :delete, data: { confirm: 'Really delete this cluster?' }
%h3 Locations in this cluster:
%ul
  - @cluster.locations.each do |loc|
    %li= link_to loc.name, loc
