- javascript 'stupidtable.js'
%table#hints.table
  %thead
    %tr
      %th{"data-sort" => "string"} Hint
      %th{"data-sort" => "int"} Suggested Penalty
      %th Actions
  %tbody
    - @puzzle.hints.each do |hint|
      %tr
        %td= hint.hint
        %td= hint.suggested_penalty
        %td
          = link_to "&#x270e;".html_safe, edit_puzzle_hint_path(@puzzle, hint)
          |
          = link_to "&times;".html_safe, puzzle_hint_path(@puzzle, hint), method: :delete, data: { confirm: 'Really delete this hint?' }

:javascript 
  $("#hints").stupidtable();

%div.show_modal{onclick: "$('#new_hint').modal()"}
  %span New Hint


#new_hint.modal.hide.fade{:tabindex => "-1"}
  .modal-header
    %button.close{"data-dismiss" => "modal", type: 'button'} &times;
    %h3.modal-title New Hint
  .modal-body
    .modal-body-content
      - @hint = Hint.new
      = render partial: '/hints/form'
