%div.row
  %div.span6.callout
    %p
      %a{href: new_team_path} Create a new team
      = render partial: '/teams/form'

  %div.span6.callout
    %p
      Enter the token provided by your team-mate to join her team:
      = simple_form_for(@join_attempt, html: {class: 'form-horizontal'}) do |f|
        = f.error_notification
        .form-inputs
          = f.input :token
        .form-actions
          = f.submit 'Join Team', class: 'btn'
