%p
  Name:
  = @user.first_name
  = @user.last_name
%p
  Nickname:
  = @user.nickname
%p
  Email:
  = @user.email
%p
  Team:
  %a{href: "/teams/#{@user.team_id}"}
    = @user.team_name

%p#notice= notice
- if can? :edit, @user
  = link_to 'Edit', edit_user_path(@user)
  |
= link_to 'Back', users_path
