%p
  = image_tag @user.avatar_url :standard
%p
  Name:
  = @user.first_name
  = @user.last_name
- if can? :manage, @user
  %p
    Email:
    = @user.email
%p
  Nickname:
  = @user.nickname
%p
  Team:
  %a{href: "/teams/#{@user.team_id}"}
    = @user.team_name

%p#notice= notice
- if can? :edit, @user
  = link_to 'Edit', edit_user_path(@user)
  |
= link_to 'Back', users_path
