- javascript 'home.js'
- javascript 'jquery.countdown.js'

%h2
  #{t :title} - #{t :tag_line}

%h4
  April 11, #{t :year}

.row
  .span-6
    .row
      .span-6{style: 'padding-top: 20px; min-width: 555px'}
        %h3 GAC is starting up! Game Control is on this. 
        /%ul/%li= link_to 'Final Game Results & Statistics', page_path('results')/%li= link_to 'Radio GAC Archives', page_path('radio_gac')
        .counter#counter 


    .row
      .span-12
        %h2 News
        %ul
          %li= link_to 'Stretching tips for dummies', 'http://www.dummies.com/how-to/content/stretching-tips-for-runners.html'
          %li= link_to 'Game Control Wants to Google that for you', 'http://lmgtfy.com/'
          %li= link_to 'Everybody! Everybody!', 'http://www.homestarrunner.com/'

    .row
      .span-12
        %h3 Learn more about GAC
    .row
      .span-6
        = link_to page_path('about') do
          About
        %br
        %br
        = link_to page_path('rules') do
          Rules
        %br
        %br
        = link_to t :fb_link do
          = image_tag 'facebook-f-25.png', size: '25x25'
          Like us on Facebook to get the latest
        %br
        %br
        %a{href: 'https://twitter.com/GAC2015', class: 'twitter-follow-button', :"data-show-count" => "false", :"data-size" => "large"} Follow #{t :twitter}
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  .span-6
    %div{class: 'fb-like-box', :"data-href" => :facebook_link, :"data-width" => 292, :"data-height" => 225, :"data-show-faces" => 'true', :"data-header" => 'true', :"data-stream" => false, :"data-show-border" => 'true'}
    %br
    %br
    %div{style: 'width: 292px'}
      %a{class: "twitter-timeline", :"data-dnt" => "true", :href => :twitter_link, :"data-widget-id" => '511729045222875136', height: 250, width: 292}Tweets by #{t :twitter}
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
