%h1 Contacting Game Control
/%p
/  For any game-day questions regarding puzzles, call:
/%h3 +1-678-384-4464

%h3 General Questions: get.a.clue.2015@gmail.com

%h3 News and Announcements

= link_to t :fb_link, class: 'provider_login_button facebook', style: 'width: 275px; height: 30px' do
  = image_tag 'facebook-f-25.png', size: '25x25'
  Game Control on Facebook
%br
= link_to t :twitter_link, class: 'provider_login_button twitter', style: 'width: 275px' do
  = image_tag 'twitter-logo-25.png', size: '25x25'
  Follow #{t :twitter}

%h3 2015 Game Control
%ul
  %li Brett Bretterson
  %li *w00t*
  %li Overachiever
  %li Big Head
  %li Matthew
  %li Sparky
  %li "That Guy"
  %li Whoosacallzit
  %li USBSnowcrash
  %li George P. Burdell
  %li Camden
  %li Facehugger
  %li Adalyn