%h1 Contacting Game Control
/%p
/  For any game-day questions regarding puzzles, call:
/%h3 +1-678-384-4464

%h3 General Questions: PERSONNAME - EMAIL@ADDRESS

%h3 News and Announcements

= link_to :fb_link, class: 'provider_login_button facebook', style: 'width: 275px; height: 30px' do
  = image_tag 'facebook-f-25.png', size: '25x25'
  Game Control on Facebook
%br
= link_to :twitter_link, class: 'provider_login_button twitter', style: 'width: 275px' do
  = image_tag 'twitter-logo-25.png', size: '25x25'
  Follow #{t :twitter}

%h3 2015 Game Control
%ul
  %li Abby Brett Bretterson
  %li Sydney The Humble One
  %li Alex *w00t*
  %li Jeremy "That Guy"
  %li Zach Big Head
  %li Lindsay Overachiever
  %li Caleb Whoosacallzit
  %li George P. Burdell
  %li Matthew (Matthew)
  %li Camden
  %li Lena Facehugger
  %li Adalyn