%h2 Payments

%p
  Your entrance fee covers the entire team. All teams must pay the entrance fee prior to starting the game.  Early payments are discounted!

%h4 $50 - If paid by January 31, #{t :year}
%h4 $60 - If paid by February 28, #{t :year}
%h4 $70 - If paid by March 31, #{t :year}
%h4 $80 - Paid on or after April 1, #{t :year}
%br
%h4 Don't forget: RATs are good for $5 off - apiece!
%br

%h3 How to pay?

%p
  You may send payments via Paypal to #{t :payment_email}
  To arrange alternate payments (cash, check, no credit cards), email #{t :payment_email}
