%h2 Payments

%p
  Your entrance fee covers the entire team. All teams must pay the entrance fee prior to starting the game. Register early to guarantee your swag bag is full of all the swag.

%h4 $60 - If paid by March 31, #{t :year}
%h4 $80 - Paid on or after April 1, #{t :year}
%br
%h4 Registration closes at 11:59pm on April 7, #{t :year}. There will be no race-day registration. 
%br

%h3 How to pay?

%p
  You may send payments via 
  %a{href: 'https://square.com/cash'}SquareCash 
  to #{t :payment_email}
  To arrange alternate payments (cash, check, no debit cards), email #{t :payment_contact_email}
