%h4= label_for_documents document_type
.box
  %p= description_for_documents document_type
  - if documents.count > 0
    %table.table
      %tr.header
        %th Name
        %th Description
        %th Actions
      - documents.each do |document|
        %tr
          %td= link_to document.name, document.file_url
          %td= markdown.render(document.description).html_safe
          %td
            = link_to "&#x270e;".html_safe, edit_document_path(document)
            |
            = link_to "&times;".html_safe, document, method: :delete, data: { confirm: 'Really delete this document?' }
  - else
    %br
    %p{style: 'font-style: italic'} No documents found
  %div.show_modal{onclick: "$('#new_document').modal(); $('#document_private').prop('checked', #{document_type == "public" ? "false" : "true"})"} Attach New Document

