%h1 Listing documents
%table
  %tr
    %th Name
    %th Description
    %th Private
    %th View
  - @documents.each do |document|
    %tr
      %td= link_to document.name, document
      %td= document.description
      %td= document.private ? "Yes" : "No"
      %td= link_to "View Document", document.file_url
%br/
= link_to 'New Document', new_document_path
