%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h1
      You have been invited to join team
      = @invitation.team_name
    %p
      A member of the team,
      = @player.first_name
      = @player.last_name
      has invited you to join
      = @invitation.team_name
      !
    %p
      To join the team, simply
      = link_to "click this link", new_join_attempt_url(token: @invitation.token)
    %p
      Having trouble with the link? You can also use this token to join the team:
      = @invitation.token
    %p
      See you in the game!
