= simple_form_for(@player) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :nickname
    = f.input :password
    = f.input :password_confirmation
    = f.hidden_field :avatar_cache
    = f.file_field :avatar
  .form-actions
    = f.button :submit
