- javascript 'stupidtable.js'
%h1 Listing Players
%table#players.table
  %thead
    %tr.header
      %th
      %th{'data-sort' => 'string'} Name
      %th{'data-sort' => 'string'} Email
      %th{'data-sort' => 'string'} Phone
      %th{'data-sort' => 'string'} Team
  %tbody
    - @players.each do |player|
      %tr
        %td= image_tag player.avatar_url(:index), size: '24x24'
        %td
          = link_to player.name, player
        - if can? :edit, player
          %td= player.email
        - else
          %td
            %span{style: 'font-style: italic'} hidden
        - if can? :edit, player
          - if player.phone
            %td= Phony.formatted player.phone, spaces: :-, format: :national
          - else
            %td
              %span{style: 'font-style: italic'} No phone yet!
        - else
          %td
            %span{style: 'font-style: italic'} hidden
        %td
          %a{href: "/teams/#{player.team_id}"}
            = player.team_name

:javascript
  $("#players").stupidtable();
