%p
  = image_tag @player.avatar_url :standard
%p
  Name:
  = @player.first_name
  = @player.last_name
- if can? :manage, @player
  %p
    Email:
    = @player.email
%p
  Nickname:
  = @player.nickname
%p
  Team:
  %a{href: "/teams/#{@player.team_id}"}
    = @player.team_name

%p#notice= notice
- if can? :edit, @player
  = link_to 'Edit', edit_player_path(@player)
  |
= link_to 'Back', players_path
