%p
  = image_tag @player.avatar_url(:standard), size: '300x300'
%p
  Name:
  = @player.name
- if can? :manage, @player
  %p
    Email:
    = @player.email
  %p
    Phone:
    - if @player.phone
      = Phony.formatted( Phony.normalize(@player.phone), spaces: :-, format: :national )
    - else
      No phone yet!
%p
  Nickname:
  = @player.nickname

- if can? :manage, @player
  %p
    Last sign-in:
    - if @player.last_sign_in_at
      = @player.last_sign_in_at.localtime.strftime("%Y/%m/%d %l:%M:%S %P")
    - else
      never
%p
  Team:
  %a{href: "/teams/#{@player.team_id}"}
    = @player.team_name

- if can? :edit, @player
  %br
  %hr
  %h3
    Player Controls
  = link_to 'Edit', edit_player_registration_path(@player)
