%h2
  Showing
  = @penalty.minutes
  minute penalty for Team
  = @penalty.team_name
%p
  %b Team:
  = link_to @penalty.team_name, @penalty.team
%p
  %b Assigner:
  = link_to @penalty.assigner_name, @penalty.assigner
%p
  %b Puzzle:
  - if can? :view, @penalty.puzzle
    = link_to @penalty.puzzle_name, @penalty.puzzle
  - else
    = @penalty.puzzle_name
%p
  %b Description:
  = @penalty.description
%p
  %b Minutes:
  = @penalty.minutes
- if can? :manage, @penalty
  = link_to 'Edit', edit_penalty_path(@penalty)
  |
  = link_to "Delete", @penalty, method: :delete, data: { confirm: 'Are you sure you want to delete this penalty?' }
  |
= link_to 'Back', penalties_path
