%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :'http-equiv' => 'Content-Type'}
  %body
    %h1
      You have been invited to join team
      = @team.name
    %p
      A member of the team,
      = @player.first_name
      = @player.last_name
      has invited you to join
      = @team.name
      !
    %p
      To join the team, simply
      = link_to "#{new_join_attempt_path}/#{@team.token}", only_path: false
        click this link
    %p
      Having trouble with the link? You can also use this token to join the team:
      = @team.token
    %p
      See you in the game!
