- javascript 'gmaps4rails.js'
%h2
  = link_to @checkin.team_name, @checkin.team
  check-in at
  = link_to @checkin.location_name, @checkin.location

%h3 Details

%p
  %b Created by:
  = link_to @checkin.player_name, @checkin.player
- if @checkin.solved_puzzle
  %p
    %b Solved:
    = link_to @checkin.solved_puzzle_name, @checkin.solved_puzzle
    - if p = @checkin.previous
      in
      = distance_of_time_in_words p.created_at, @checkin.created_at
%p
  %b Next puzzle:
  = link_to @checkin.next_puzzle_name, @checkin.next_puzzle
%p
  %b Timestamp:
  = @checkin.created_at.localtime

= render partial: '/locations/map', locals: {map_data: @checkin.location.to_gmaps4rails}

%br
%h3 Checkin Controls
= link_to 'Edit', edit_checkin_path(@checkin)
|
= link_to "Delete", @checkin, method: :delete, data: { confirm: 'Are you REALLY SURE?! This is probably a bad idea! Don\'t do it!' }
