- javascript 'stupidtable.js'
%h1 Listing Checkins
%table#checkins.table
  %thead
    %tr.header
      %th{'data-sort' => 'string'} Team
      %th{'data-sort' => 'string'} Location
      %th{'data-sort' => 'int'} Timestamp
      %th{'data-sort' => 'int'} Time to solve
      %th Actions
  %tbody
    - @checkins.each do |checkin|
      %tr
        %td= link_to "#{checkin.team_name}", checkin.team
        %td= link_to "#{checkin.location_name}", checkin.location
        %td{'data-sort-value' => checkin.created_at.to_i}= link_to checkin.created_at.localtime.strftime("%l:%M:%S %P"), checkin
        - if prev = checkin.previous
          %td{'data-sort-value' => (checkin.created_at - prev.created_at).to_i}
            = distance_of_time_in_words prev.created_at, checkin.created_at
        - else
          %td{'data-sort-value' => 0}
            No previous checkin
        %td= link_to 'View Checkin', checkin
%br/
= link_to 'Manual Checkin', new_checkin_path

:javascript
  $("#checkins").stupidtable();
