%h1 Listing Checkins
%table.table
  %tr.header
    %th Name
    %th Timestamp
    %th Time to solve
  - @checkins.each do |checkin|
    %tr
      %td= link_to "#{checkin.team_name} @ #{checkin.location_name}", checkin
      %td= checkin.created_at.localtime.strftime "%l:%M:%S %P"
      %td
        - if p = checkin.previous
          = distance_of_time_in_words p.created_at, checkin.created_at
        - else
          No previous checkin
%br/
= link_to 'Manual Checkin', new_checkin_path
