= simple_form_for(@location, remote: local_assigns[:remote], html: {class: 'form-horizontal'}) do |f|
  = f.error_notification
  .form-inputs
<<<<<<< HEAD
    = f.input :name, input_html: {size: 75}
    = f.association :cluster, collection: Cluster.find(:all, order: 'name')
=======
    = f.input :name
    = f.association :cluster, collection: Cluster.order(:name)
>>>>>>> master
    = f.input :permission_received
    = f.input :open_time
    = f.input :close_time
    = f.association :next_puzzle, collection: Puzzle.order(:name), hint: "Creates a puzzle sequence. Use only when a puzzle must be started from this location, like when a physical clue is picked up."
    %div.button_controlled_box
      %div#location_selector{class: 'btn-group'}
        %button.btn.active{type: 'button', value: 'address'} Address
        %button.btn{type: 'button', value: 'coordinates'} Coordinates
      %div#address_group
        = f.input :address, input_html: {size: 75}
      %div#coordinates_group
        = f.input :latitude
        = f.input :longitude
  .form-actions
    = f.button :submit

- javascript 'locations.js'
