%h4= link_to loc.name, loc
%p= loc.address
%p
  Open
  = open_hours loc
%p
  - if loc.permission_received
    = "&#x2713; Permission Received".html_safe
  - else
    = "&times; Permission NOT Received".html_safe
%h4 Teams Present:
- loc.teams.each do |team|
  %p= link_to team.name, team
