- javascript 'gmaps4rails.js'
%h1 Listing locations
%p
  = gmaps4rails map_data(@locations)
%table.table
  - clusters = @map_points.keys.sort { |a,b| a.sequence <=> b.sequence }
  - clusters.each do |cluster|
    - locations = @map_points[cluster]
    %tr.header
      %th{colspan: 5}
        %h3
          = link_to cluster.name, cluster
          = marker_img cluster.color, ''
          = " - #{locations.count} locations"
    %tr.header
      %th Name
      %th Permission?
      %th Open Hours
      %th Solution to...
      %th Next Puzzle
    - locations.each_pair do |letter, location|
      %tr
        %td
          = marker_img cluster.color, letter
          = link_to location.name, location
        %td= (location.permission_received ? "&#x2713;" : "&times;").html_safe
        %td= open_hours location
        %td
          - location.destination_for_puzzles.each do |puzzle|
            = link_to puzzle.name, puzzle
        %td
          - if location.next_puzzle
            = link_to location.next_puzzle_name, location.next_puzzle
%br/
= link_to 'New Location', new_location_path
