- javascript 'gmaps4rails.js'
%h1 Listing locations
%p
  = gmaps4rails @locations_map_data
%table.table
  %tr
    %th Name
    %th Address
    %th Latitude
    %th Longitude
    %th Actions
  - @locations.each do |location|
    %tr
      %td= location.name
      %td= location.address
      %td= location.latitude
      %td= location.longitude
      %td
        = link_to 'Show', location
        |
        = link_to 'Edit', edit_location_path(location)
        |
        = link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Location', new_location_path
