%p#notice= notice
= render partial: '/location/map', locals: {map_data: @location.to_gmaps4rails}
%p
  %b Name:
  = @location.name
%p
  %b Address:
  = @location.address
%p
  %b Latitude:
  = @location.latitude
%p
  %b Longitude:
  = @location.longitude
= link_to 'Edit', edit_location_path(@location)
|
\#{link_to 'Back', locations_path}
