- javascript 'gmaps4rails.js'
%p#notice= notice
= render partial: '/locations/map', locals: {map_data: @location.to_gmaps4rails}
%p
  %b Name:
  = @location.name
%p
  %b Cluster:
  = link_to @location.cluster_name, @location.cluster
%p
  %b Permission Received?
  = @location.permission_received ? "Yes" : "No"
%p
  %b Address:
  = @location.address
%p
  %b Token:
  = @location.token
%p
  %b Latitude:
  = @location.latitude
%p
  %b Longitude:
  = @location.longitude
= link_to 'Edit', edit_location_path(@location)
|
= link_to 'Delete', @location, method: :delete, data: { confirm: 'Really delete this location?' }

= simple_form_for [@documentable, Document.new] do |f|
  %p
    = f.error_notification
    .form-inputs
      = f.input :name
      = f.input :description
      = f.input :private
      = f.file_field :file
      = f.hidden_field :file_cache
    .form-actions
      = f.button :submit
