- javascript 'gmaps4rails.js'
= render partial: '/locations/map', locals: {map_data: @location.to_gmaps4rails}
%h2= @location.name
%p
  %b Cluster:
  = link_to @location.cluster_name, @location.cluster
%p
  %b Permission Received?
  = @location.permission_received ? "Yes" : "No"
%p
  %b Address:
  = @location.address
%p
  %b Open Hours:
  = open_hours @location
%p
  %b Token:
  = @location.token
%p
  %b Coordinates:
  = @location.latitude
  \/
  = @location.longitude

= render partial: '/documents/list', locals: {documentable: @location}

= link_to 'Edit', edit_location_path(documentable)
|
= link_to 'Delete', documentable, method: :delete, data: { confirm: 'Really delete this location?' }
