- javascript 'gmaps4rails.js'
- if @game.status_name == 'pregame'
  = render partial: 'setup_menu'

= render partial: '/locations/map', locals: {map_data: @location.to_gmaps4rails}
%h2= @location.name
%p
  %b Cluster:
  = link_to @location.cluster_name, @location.cluster
%p
  %b Permission Received?
  = @location.permission_received ? "Yes" : "No"
%p
  %b Address:
  = @location.address
%p
  %b Open Hours:
  = open_hours @location
%p
  %b Token:
  = @location.token
%p
  %b Coordinates:
  = @location.latitude
  \/
  = @location.longitude

- if @location.next_puzzle
  %hr
  %h3
    Next Puzzle:
    = link_to @location.next_puzzle_name, @location.next_puzzle
  %p If this puzzle requires a physical clue, make sure to set it up on game day!

- if @location.destination_for_puzzle.present?
  %h3 Destination for Puzzles:
  %ul
    %li= link_to @location.destination_for_puzzle_name, @location.destination_for_puzzle

%hr

%h3 Documents

= render partial: '/documents/list', locals: {documents: @location.documents_for_players, document_type: 'public'}

= render partial: '/documents/list', locals: {documents: @location.documents_for_game_control, document_type: 'private'}

%hr

%br
%h3 Location Controls
%p
= link_to "View/Print Poster", location_posters_path(@location)
&nbsp;&nbsp;&ndash;&nbsp;&nbsp;
= link_to 'Edit', edit_location_path(@location)
&nbsp;&nbsp;&ndash;&nbsp;&nbsp;
= link_to 'Delete', @location, method: :delete, data: { confirm: 'Really delete this location?' }

= render partial: '/documents/new_document_modal', locals: {documentable: @location}
