- javascript 'gmaps4rails.js'
= render partial: '/locations/map', locals: {map_data: @location.to_gmaps4rails}
%h2= @location.name
%p
  %b Cluster:
  = link_to @location.cluster_name, @location.cluster
%p
  %b Permission Received?
  = @location.permission_received ? "Yes" : "No"
%p
  %b Address:
  = @location.address
%p
  %b Open Hours:
  = open_hours @location
%p
  %b Token:
  = @location.token
%p
  %b Coordinates:
  = @location.latitude
  \/
  = @location.longitude

- if @location.next_puzzle
  %hr
  %h3
    Next Puzzle:
    = link_to @location.next_puzzle_name, @location.next_puzzle
  %p If this puzzle requires a physical clue, make sure to set it up on game day!

- unless @location.destination_for_puzzles.empty?
  %h3 Destination for Puzzles:
  %ul
    - @location.destination_for_puzzles.each do |puzzle|
      %li= link_to puzzle.name, puzzle

%hr

= render partial: '/documents/list', locals: {documentable: @location}

%hr

%br
%h3 Location Controls
%p
= link_to "View/Print Poster", location_poster_path(@location)
&nbsp;&nbsp;&ndash;&nbsp;&nbsp;
= link_to 'Edit', edit_location_path(@location)
&nbsp;&nbsp;&ndash;&nbsp;&nbsp;
= link_to 'Delete', @location, method: :delete, data: { confirm: 'Really delete this location?' }
