- javascript 'gmaps4rails.js'
%p#notice= notice
= render partial: '/locations/map', locals: {map_data: @location.to_gmaps4rails}
%h2= @location.name
%p
  %b Cluster:
  = link_to @location.cluster_name, @location.cluster
%p
  %b Permission Received?
  = @location.permission_received ? "Yes" : "No"
%p
  %b Address:
  = @location.address
%p
  %b Token:
  = @location.token
%p
  %b Coordinates:
  = @location.latitude
  \/
  = @location.longitude

= render partial: '/documents/list', locals: {documentable: @location}
