/ This is the button for mobile devices that shows/hides the nav
%a.btn.btn-navbar{"data-toggle" => 'collapse', "data-target" => ".nav-collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

= link_to root_path, :class => 'brand' do
  %img#logo{src: asset_path('logo.png')}
  Home

%div.nav-collapse.collapse
  %ul.nav
    %li.dropdown
      %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
        The Game
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to page_path('about') do
            %img.navicon{src: asset_path('glyphicons/054_clock.png')}
            About
        %li
          = link_to page_path('history') do
            %img.navicon{src: asset_path('glyphicons/074_cup.png')}
            History
        %li
          = link_to page_path('rules') do
            %img.navicon{src: asset_path('glyphicons/071_book.png')}
            Rules
        %li
          = link_to '/teams' do
            %img.navicon{src: asset_path('glyphicons/043_group.png')}
            Teams
        - if Game.status == 'closed'
          %li
            = link_to page_path('results') do
              %img.navicon{src: asset_path('glyphicons/074_cup.png')}
              Game Results
    - if player_signed_in? || can?(:read, :all)
      %li.dropdown
        %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
          Player Information
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to '/dashboard' do
              %img.navicon{src: asset_path('glyphicons/331_dashboard.png')}
              Game Dashboard
          %li
            = link_to checkins_path do
              %img.navicon{src: asset_path('glyphicons/258_qrcode.png')}
              Checkins
          %li
            = link_to page_path('contact') do
              %img.navicon{src: asset_path('glyphicons/088_adress_book.png')}
              Contact Game Control
          %li
            = link_to page_path('required_items') do
              %img.navicon{src: asset_path('glyphicons/029_notes_2.png')}
              Required Items
      - if can? :read, :all
        %li.dropdown.admin-only
          %a.dropdown-toggle{href: '#', "data-toggle" => 'dropdown'}
            Game Setup
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to game_path do
                %img.navicon{src: asset_path('glyphicons/139_adjust_alt.png')}
                Game Settings
            %li
              = link_to players_path do
                %img.navicon{src: asset_path('glyphicons/003_user.png')}
                Players
            %li
              = link_to '/teams' do
                %img.navicon{src: asset_path('glyphicons/043_group.png')}
                Teams
            %li
              = link_to puzzles_path do
                %img.navicon{src: asset_path('glyphicons/156_show_thumbnails.png')}
                Puzzles
            %li
              = link_to clusters_path do
                %img.navicon{src: asset_path('glyphicons/096_vector_path_polygon.png')}
                Clusters
            %li
              = link_to locations_path do
                %img.navicon{src: asset_path('glyphicons/060_compass.png')}
                Locations
            %li
              = link_to redirects_path do
                %img.navicon{src: asset_path('glyphicons/151_new_window.png')}
                Redirects
        %li.dropdown.admin-only
          %a.dropdown-toggle{href: '#', "data-toggle" => 'dropdown'}
            Game Tools
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to checkins_path do
                %img.navicon{src: asset_path('glyphicons/258_qrcode.png')}
                Checkins
            %li
              = link_to penalties_path do
                %img.navicon{src: asset_path('glyphicons/055_stopwatch.png')}
                Penalties
            - if can? :manage, :all
              %li
                = link_to messages_path do
                  %img.navicon{src: asset_path('glyphicons/336_iphone_shake.png')}
                  Messaging
      - else
        %li
          - if current_player.team_name == 'Observers'
            = link_to 'Join a Team', new_join_attempt_path
          - else
            = link_to "Team #{current_player.team_name}", team_path(current_player.team_id)
  %ul.nav.pull-right
    - if player_signed_in?
      %li.dropdown
        %a.dropdown-toggle{href: '#', "data-toggle" => 'dropdown'}
          Logged in as
          = current_player.name
          %b.caret
        %ul.dropdown-menu
          %li= link_to('Edit account', edit_player_registration_path)
          %li= link_to('Logout', destroy_player_session_path, :method=>'delete')
    - else
      %li
        = link_to('Login', new_player_session_path)
      %li
        = link_to('Sign up', new_player_registration_path)
