- javascript 'puzzles.js'
= simple_form_for(@puzzle) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :description, input_html: {rows: 5, cols: 80, style: 'width: inherit'}
    = f.input :origin_id, collection: Location.find(:all, order: 'name'), label: "Puzzle Origin (optional)", hint: "Use only for puzzles that are tied to a physical location"
    = f.input :destination_id, collection: Location.find(:all, order: 'name'), label: "Puzzle Destination"
  .form-actions
    = f.button :submit

#new_location.modal.hide.fade{:tabindex => "-1", style: 'width: 760px'}
  .modal-header
    %button.close{"data-dismiss" => "modal", type: 'button'} &times;
    %h3.modal-title New Location
  .modal-body
    .modal-body-content
      = render :template => 'locations/_form', locals: {remote: true}
