- javascript 'puzzles.js'
= simple_form_for(@puzzle) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :status, collection: Puzzle.statuses.invert
    = f.association :owner, collection: Team.where(name: 'Game Control').first.players
    = f.input :description, input_html: {rows: 5, cols: 80, style: 'width: inherit'}
    = f.input :expected_ttc, label: "Expected Time-To-Complete (minutes)"
    = f.input :flavortext, input_html: {rows: 5, cols: 80, style: 'width: inherit'}
    = f.input :include_bearing, hint: "If this box is checked, the magnetic bearing and distance to this puzzle will be included in the flavor text"
    = f.association :destination, collection: Location.find(:all, order: 'name'), label: "Puzzle Destination"
  .form-actions
    = f.button :submit

#new_location.modal.hide.fade{:tabindex => "-1", style: 'width: 760px'}
  .modal-header
    %button.close{"data-dismiss" => "modal", type: 'button'} &times;
    %h3.modal-title New Location
  .modal-body
    .modal-body-content
      = render :template => 'locations/_form', locals: {remote: true}
