%h1= "Listing #{@puzzles.count} puzzles"
%table.table
  %tr.header
    %th Name
    %th Status
    %th Origin
    %th Destination
  - @puzzles.each do |puzzle|
    %tr
      %td= link_to puzzle.name, puzzle
      %td
        = status_icon puzzle, size: '16'
        = puzzle.status_name
      %td= puzzle.origin ? link_to(puzzle.origin_name, puzzle.origin) : ""
      %td= puzzle.destination ? link_to(puzzle.destination_name, puzzle.destination) : ""

%br/
= link_to 'New Puzzle', new_puzzle_path
