%h1= "Listing #{@puzzles.count} puzzles"
%table.table
  %tr.header
    %th Name
    %th Status
    %th TTC (minutes)
    %th Pick up at...
    %th Destination
  - @puzzles.each do |puzzle|
    %tr
      %td= link_to puzzle.name, puzzle
      %td
        = status_icon puzzle, size: '16'
        = puzzle.status_name
      %td= puzzle.expected_ttc
      %td= puzzle.comes_from ? link_to(puzzle.comes_from.name, puzzle.comes_from) : ""
      %td= puzzle.destination ? link_to(puzzle.destination_name, puzzle.destination) : ""

%br/
= link_to 'New Puzzle', new_puzzle_path
