- javascript 'gmaps4rails.js'
%h2
  = @puzzle.name

%hr

= render partial: '/documents/list', locals: {documentable: @puzzle}

%h3= "Location: #{@puzzle.location_name}"
= render partial: '/locations/map', locals: {map_data: @puzzle.location.to_gmaps4rails}
%p
  = render partial: '/locations/infowindow', locals: {loc: @puzzle.location}

= link_to 'Edit', edit_puzzle_path(@puzzle)
|
= link_to 'Delete', @puzzle, method: :delete, data: { confirm: 'Really delete this puzzle?' }
%hr

%br
%h3
  Puzzle Controls
%p
  = link_to 'Edit', edit_puzzle_path(@puzzle)
  |
  = link_to 'Delete', @puzzle, method: :delete, data: { confirm: 'Really delete this puzzle?' }
