- javascript 'gmaps4rails.js'
%h2
  = @puzzle.name

- if @puzzle.status
  %h5
    = status_icon @puzzle
    = @puzzle.status_name

- if @puzzle.description
  %hr
  %p= @puzzle.description

%hr

= render partial: '/documents/list', locals: {documentable: @puzzle}

%hr

%h3 Locations
.row
  .span6
    %h4 Puzzle Start
    - if @puzzle.comes_from
      /= render partial: '/locations/map', locals: {map_data: @puzzle.comes_from.to_gmaps4rails}
      %p
        = render partial: '/locations/infowindow', locals: {loc: @puzzle.comes_from}
    - else
      %p This puzzle may be started from anywhere

  .span6
    %h4 Destination
    - if @puzzle.destination
      /= render partial: '/locations/map', locals: {map_data: @puzzle.destination.to_gmaps4rails}
      %p
        = render partial: '/locations/infowindow', locals: {loc: @puzzle.destination}

%hr

%br
%h3
  Puzzle Controls
%p
  = link_to 'Edit', edit_puzzle_path(@puzzle)
  |
  = link_to 'Delete', @puzzle, method: :delete, data: { confirm: 'Really delete this puzzle?' }
