- javascript 'gmaps4rails.js'
%h2
  = @puzzle.name
  - if @puzzle.expected_ttc
    %span{style: 'font-size: 0.6em'}= "(#{@puzzle.expected_ttc} minutes)"
  - if @puzzle.status
    %span{style: 'font-size: 0.8em; float: right'}
      = status_icon @puzzle
      = @puzzle.status_name
- if @puzzle.owner
  %p
    %b Owner:
    = @puzzle.owner_name

%h4 Description
- if @puzzle.description.present?
  %div.box= markdown.render(@puzzle.description).html_safe

= render partial: '/documents/list', locals: {documents: @puzzle.documents_for_game_control, document_type: 'private'}

%hr

%h3 Locations
.row
  .span6
    %h4 Puzzle Start
    - if @puzzle.comes_from
      /= render partial: '/locations/map', locals: {map_data: @puzzle.comes_from.to_gmaps4rails}
      %p
        = render partial: '/locations/infowindow', locals: {loc: @puzzle.comes_from}
    - else
      %p This puzzle may be started from anywhere

  .span6
    %h4 Destination
    - if @puzzle.destination
      /= render partial: '/locations/map', locals: {map_data: @puzzle.destination.to_gmaps4rails}
      %p
        = render partial: '/locations/infowindow', locals: {loc: @puzzle.destination}

%hr

%h3 Player Information

%h4 Flavor Text
%div.box
  - if @puzzle.flavortext
    = markdown.render(@puzzle.flavortext).html_safe
  - else
    %span{style: 'font-style: italic'} None

= render partial: '/documents/list', locals: {documents: @puzzle.documents_for_players, document_type: 'public'}

%br

%h3 Hints

= render partial: '/hints/list'

%h3 Puzzle Controls
%p
  = link_to 'Edit', edit_puzzle_path(@puzzle)
  |
  = link_to 'Delete', @puzzle, method: :delete, data: { confirm: 'Really delete this puzzle?' }

= render partial: '/documents/new_document_modal', locals: {documentable: @puzzle}
