- javascript 'gmaps4rails.js'
%h2
  = @puzzle.name

%hr

= render partial: '/documents/list', locals: {documentable: @puzzle}

%hr

%h3 Locations
.row
  .span6
    - if @puzzle.origin
      %h4 Origin
      /= render partial: '/locations/map', locals: {map_data: @puzzle.origin.to_gmaps4rails}
      %p
        = render partial: '/locations/infowindow', locals: {loc: @puzzle.origin}

  .span6
    %h4 Destination
    /= render partial: '/locations/map', locals: {map_data: @puzzle.destination.to_gmaps4rails}
    %p
      = render partial: '/locations/infowindow', locals: {loc: @puzzle.destination}

%hr

%br
%h3
  Puzzle Controls
%p
  = link_to 'Edit', edit_puzzle_path(@puzzle)
  |
  = link_to 'Delete', @puzzle, method: :delete, data: { confirm: 'Really delete this puzzle?' }
